* {
    --light-gray: rgba(225,232,240,255)
}

html, body {
    height: 100%;
    margin: 0px;
    background-color: var(--light-gray);
}

.container {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr 2fr 2fr;
    height: 100%;

}

.sidebar {
    background-color: rgba(24,146,211,255);
    grid-row: 1 / 4;
    grid-column: 1 / 2;
}

.header {
    background-color: white;
    grid-row: 1;
    grid-column: 2 / 4;
    box-shadow: rgba(14, 63, 126, 0.04) 0px 0px 0px 1px, rgba(42, 51, 69, 0.04) 0px 1px 1px -0.5px, rgba(42, 51, 70, 0.04) 0px 3px 3px -1.5px, rgba(42, 51, 70, 0.04) 0px 6px 6px -3px, rgba(14, 63, 126, 0.04) 0px 12px 12px -6px, rgba(14, 63, 126, 0.04) 0px 24px 24px -12px;   
}

.projects {
    grid-row: 2 / 4;
    grid-column: 2 / 3;
}

.announcements {
    grid-row: 2 / 3;
}

.trending {
    grid-row: 3 / 4;
}